name: 'CI'

env:
  VERSION: 1.0.0
  ASM_VERSION: 1.0.0
  BUILD_TYPE: Release
  # Indicates the location of the vcpkg as a Git submodule of the project repository.
  #VCPKG_ROOT: ${{ github.workspace }}/vcpkg
  # Tells vcpkg where binary packages are stored.
  # VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg/bincache

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  workflow_dispatch:

jobs:
  # builds native codecs binary for all supported OSes
  build-native:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            triplet: x64-windows-static
          - os: ubuntu-latest
            triplet: x64-linux
          - os: macos-latest
            triplet: x64-osx
    name: ${{ matrix.os }} codecs

    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}

    steps:
      
    - uses: actions/checkout@v2
      with:
        submodules: true

    - uses: friendlyanon/setup-vcpkg@v1
      with: { committish: 03ca9b59af1506a86840e3a3a01a092f3333a29b}

    #- name: bootstrap vcpkg (windows)
      #if: runner.os == 'Windows'
      #run: vcpkg/bootstrap-vcpkg.bat

    #- name: bootstrap vcpkg (linux and mac)
      #if: (runner.os == 'Linux' || runner.os == 'macOS')
      #run: vcpkg/bootstrap-vcpkg.sh

    - name: Build
      # Build your program with the given configuration
      # run: cmake -B build -S . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=../vcpkg/scripts/buildsystems/vcpkg.cmake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -D "CMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake"
      working-directory: native


    - uses: actions/upload-artifact@v2
      name: Collect Artifacts
      with:
        name: drop
        path: native/build/
